.main{
    display: flex;
}
.form{
    width: 50%;
}
.calendar{
   width: 50%;
}
.calendar th {
    background: #EEEEEE;
}
.calendar td {
    border: 2px solid #CCCCCC;
    text-align: center;
    padding: 6px;
}
.calendar .today{
    font-weight: bold;
}
